<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Erro 404</ion-title>
    <ion-icon name="bug" size="large" class="ion-margin" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-img src="assets/404.jpg" alt="Erro 404"></ion-img>
  <h2>Oooops!</h2>
  <p>O conteúdo que você está tentando acessar não existe.</p>
  <p>Use o menu de navegação para acessar outras páginas e conteúdos do <em>{{ env.appName }}</em>.</p>
  <p><em>Obrigado...</em></p>

</ion-content>