<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Sobre</ion-title>
    <ion-icon name="information-circle" size="large" class="ion-margin" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat beatae perferendis temporibus sequi voluptatum dicta laborum quo ducimus eos ullam necessitatibus doloremque ipsa veritatis totam culpa accusantium non, consequatur deserunt.
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, ullam soluta quo, at ut quibusdam tempora unde itaque adipisci dolorem fugiat hic a impedit, quos consequatur reprehenderit doloribus quisquam provident!</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad ea, minus molestias dolore atque inventore porro, eius, quibusdam asperiores fugiat a animi cum. Optio quisquam quam veritatis deserunt odit rem!</p>
  
</ion-content>
